<html>
<head>
  <title>Favorite Music!</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="javascripts/app.js"></script>

</head>
<body ng-app="comment" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
      <h1>Your Favorite Music Hub!</h1>
      </div>

      <form ng-submit="addComment()" style = "margin-top30px;">
        <input type="text" placeholder="Song Title" ng-model="formContent"></input>
        <input type="text" placeholder="Artist" ng-model="formArtist"></input>
        <input type="text" placeholder="Album" ng-model="formAlbum"></input>
        <input type="text" placeholder="Genre" ng-model="formGenre"></input>
        <input type="text" placeholder="Album Art URL" ng-model="formAlbumArt"></input>
        <button type="submit">Submit</button>
      </form>
      <div>
        {{test}}
      </div>
      <div class="songContainer" ng-repeat="comment in comments | orderBy: ['genre','-upvotes']">
        <div class="albumHolder">
          <img src="{{ comment.albumArt }}" alt="{{comment.title}} Album Cover">
 <!--          <img src="http://yaleherald.com/wp-content/uploads/2011/02/Adele-21-Album-Cover-Art-500x500.png"> -->
        </div>
        <div class="songInfo">
          <p class="songTitle"><i class="fa fa-star" ng-click="incrementUpvotes(comment)"></i><span>Song Title:</span> {{comment.title}}</p>
          <p class="voteCount"><span>Vote Count:</span> {{comment.upvotes}}</p>
          <p class="voteCount"><span>Artist: </span> {{comment.artist}}</p>
          <p class="voteCount"><span>Album:</span> {{comment.album}}</p>
          <p class="voteCount"><span>Genre:</span> {{comment.genre}}</p>
        </div>

      </div>
    </div>
  </div>
</body>
</html>

