<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Jeopardy! - Test Your Random Knowledge!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/hover.css" rel="stylesheet" />


<!-- Theme skin -->
<link href="skins/default.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body ng-app="jeopardy">
<div id="wrapper">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><span>J</span>eopardy</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#footer">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="featured">
	<!-- start slider -->

	
	

	</section>
	<section class="callaction">
	<div id="headContainer" class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Welcome</span> to the Wonderful Game of</h2>
						<img id="jeopardyLogo" src="img/jeopardy-logo.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container" ng-controller="MainController">
		
	<button ng-click="genCategories()" id="startButton">
		<p>Generate Categories!</p>
	</button>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">{{ title }}</h4>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 design cat1"  data-type="web">
						
						<!-- Thumb Image and Description -->
						<div class="jeopardyBox catBox">
						<h2>{{ category[0].name }}</h2>
						</div>
						<div ng-repeat="x in category[0].questions" style="display: none;">
							<div id="{{ x.id }}"  class="questionContainer">{{ x.questionName }}
								<div class="answer">
									<button ng-click="answer = x.answer">Answer</button>
									<p ng-bind="answer"></p>
								</div>
							</div>
						</div>
						
						<div ng-repeat="x in category[0].questions" class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox"title="{{ x.num }}" ng-href="{{ x.href }}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>

							<div class="jeopardyBox boxNum" >
							<h2>{{ x.num }}</h2>
							<img style="display: none;" src="" alt="{{ category[0].name }}">
							</div>
						</div>

						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 design" data-id="id-1" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<!-- Thumb Image and Description -->
						<div class="jeopardyBox catBox">
						<h2>{{ category[1].name }}</h2>
						</div>
						<div ng-repeat="x in category[1].questions" style="display: none;">
							<div id="{{ x.id }}"  class="questionContainer">{{ x.questionName }}
								<div class="answer">
									<button ng-click="answer = x.answer">Answer</button>
									<p ng-bind="answer"></p>
								</div>
							</div>
						</div>
						
						<div ng-repeat="x in category[1].questions" class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" title="{{ x.num }}" ng-href="{{ x.href }}">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>

							<div class="jeopardyBox boxNum" >
								<h2>{{ x.num }}</h2>
								<img style="display: none;" src="" alt="{{ category[1].name }}">
							</div>
						</div>

						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 photography" data-id="id-2" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<div class="jeopardyBox catBox">
						<h2>{{ category[2].name }}</h2>
						</div>
						<div ng-repeat="x in category[2].questions" style="display: none;">
							<div id="{{ x.id }}"  class="questionContainer">{{ x.questionName }}
								<div class="answer">
									<button ng-click="answer = x.answer">Answer</button>
									<p ng-bind="answer"></p>
								</div>
							</div>
						</div>
						
						<div ng-repeat="x in category[2].questions" class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" title="{{ x.num }}" ng-href="{{ x.href }}">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>

							<div class="jeopardyBox boxNum" >
								<h2>{{ x.num }}</h2>
								<img style="display: none;" src="" alt="{{ category[2].name }}">
							</div>
						</div>

						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<div class="jeopardyBox catBox">
						<h2>{{ category[3].name }}</h2>
						</div>
						<div ng-repeat="x in category[3].questions" style="display: none;">
							<div id="{{ x.id }}"  class="questionContainer">{{ x.questionName }}
								<div class="answer">
									<button ng-click="answer = x.answer">Answer</button>
									<p ng-bind="answer"></p>
								</div>
							</div>
						</div>
						
						<div ng-repeat="x in category[3].questions" class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox"title="{{ x.num }}" ng-href="{{ x.href }}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>

							<div class="jeopardyBox boxNum" >
							<h2>{{ x.num }}</h2>
							<img style="display: none;" src="" alt="{{ category[3].name }}">
							</div>
						</div>

						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>

	</div>
	</section>
	<footer>
	<div class="container" id="footer">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Having Trouble?</h5>
					<p>
					<strong>Are the columns not displaying correctly?</strong><br>
					 Try zooming out in your browser,
					 and the 4 column layout should appear correctly.</p>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Front End:</h5>
					<ul class="link-list">
						<li>The user interface and is built using standard HTML, CSS, and jQuery with interactivity and auto populating fields and divs using AngularJS.</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Back End:</h5>
					<ul class="link-list">
						<li>The Jeopardy questions are called using our own REST interface, with a JSON file that we found online, over 250,000 random jeopardy questions.</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Jeopardy 2015 All right reserved. By </span><a href="http://bootstraptaste.com" target="_blank">Jake Hasler & Jay Davis</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>

<!-- Modules -->
 <script src="js/app.js"></script>

 <!-- Controllers -->
 <script src="js/MainController.js"></script>

<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>