@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);

body {
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

p
{
	margin: 0;
}

a {
  color: #00B7FF;
}

input
{
	width: auto;
}
.fa-star
{
	cursor: pointer;
	color: #4035E5;
	
}

.fa-star:hover
{
	color: #647FE1;
}

.songContainer
{
	border: 1px solid #C4C4C4;
	background-color: #f2f2f2;
	height: 100px;
	margin: 10px 0;
	/*width: 75%;*/
}

.albumHolder
{
	height: 90px;
	width: 90px;
	display: inline-block;
	border: 1px solid #f2f2f2;
	margin: 4px;
	position: absolute;
}

.albumHolder img
{
	width: 100%;
	height: auto;
}

.songInfo
{
	display: inline-block;
	margin-left: 100px;
	margin-top: 3px;
}

span
{
	text-transform: uppercase;
	font-weight: 400; 
	letter-spacing: .07em;
}

.songInfo i
{
	font-size: 23px;
	padding-right: 10px;
}

.songTitle
{
	font-size: 18px;
	font-weight: 700;
}

.voteCount
{
	font-size: 12px;
	font-weight: 700;
	margin-left: 32px;
}

