

p
{
	font-family: "Bentham", serif;
}

a
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	color: grey;
}

.header
{
	background-color: #fff;
	height: 200px;
	width: 100%;
}


#logo
{
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	padding-top: 20px;
}

.nav
{

	height: 30px;
	width: 100%;
}

#nav-bar
{
		border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-family: "Bentham", serif;
	width: 70%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border: 2px solid #000;*/
	padding: 5px;
}

#nav-bar li
{
	display: inline;
	padding: 15px;
	padding-left: 

}

.dropdown
{
	display: none;
}

.dropdown:hover
{	
	float: none;
	display: block;
}

#container
{
	margin-top: 50px; 
	width: 100%
}

#homepage-image
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.row
{
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	display: block;
}

.row img
{

	max-width: auto;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.row-pix
{
	margin-left: auto;
	margin-right: auto; 
	width: 30%;
	padding-left: 2%;
}

.footer
{
	background-color: #C97171;
	height: 40px;
	width: 100%;
	color: white;
	display: block;
}

.footer p
{
	text-align: center;
	margin: 8px;
	text-transform: uppercase;
	letter-spacing: .14em;
}

.footer i
{
	margin-top: 8px;
	font-size: 22px;
	padding-left: 6%;
	padding-right: 6%;


}

.col-left
{

	width: 30%;
	float: left;
	display: inline-block;
	height: 30px;
}

.col-middle
{

	width: 30%;
	/*float: middle;*/
	display: inline-block;
	height: 30px;
	margin-left: 8%;
}

.col-right
{

	width: 30%;
	float: right;
	display: inline-block;
	height: 30px;
}

