<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>Temple Work</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInputPerson" size="25" placeholder="Person">
    <input type="text" ng-model="todoInputFather" size="25" placeholder="Father">
    <input type="text" ng-model="todoInputMother" size="25" placeholder="Mother">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList" >
    <input type="checkbox" ng-model="x.checked"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'Grandpa Jean', checked:false}];

    $scope.todoAdd = function() {
        $scope.todoList.push({todoText:$scope.todoInputPerson + ", "  + $scope.todoInputFather + ", " + $scope.todoInputMother, checked:false});

        $scope.todoInput = "";
    };

    $scope.todoAddToExisting = function()
    {

    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.checked) $scope.todoList.push(x);
        });
    };
});
</script>

</body>

</html>