@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

h1, h2, h3, h4
{
	font-family: Roboto, sans-serif;
}

#name
{
	color: #383838;
}

p
{
    font-family: Roboto, sans-serif;
}

.cityForm
{
    font-family: Roboto, sans-serif;
}

.favorite-pix img 
{
	width: 25%;
}

h1
    {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: rgb(46, 45, 46);
    }

    .hero h2
    {
    	font-size: 12px;
	    padding: 63px;
	    width: 564px;
	    font-size: 55px;
    }
    
    h3
    {
        font-family: 'Roboto', sans-serif;
        color: #006C80;
        letter-spacing: 0.08em;

    }
    
    .nav-bar a 
    {
        text-decoration: none;
        color: white;
    }
    .nav-bar li
    {
        display: inline;
        font-family: 'Droid Serif', serif;
        font-size: 15px;
        letter-spacing: .1em;
        text-transform: uppercase;
        padding: 0 15px 0 15px;
    }
    .nav-bar
    {
        padding-top: 15px;
        width: 97%;
    }
    
    .nav-bar
    {
        color: white;
        background-color: rgb(66, 65, 66);
        height: 40px;
    }
    #logo-holder
    {
        background-image: url("");
        height: 200px;
        display: inline;
    }
    
    .hero
    {
        background-color: #dfdfdf;
        height: 500px;
        margin-top: -37px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/82/Oia,_Santorini_HDR_sunset.jpg");
        background-size: cover;
    }
    #head-text
    {
        padding: 63px;
        width: 564px;
        font-size: 55px;
    }
    .container
    {
        margin-left: 50px;
        margin-right: 50px;
    }
    .dest-left
    {
        /*float: left;*/
        float: left; 
        width: 33%;
    }
    .dest-middle
    {
        display: inline-block; 
        width: 33%;
    }
    .dest-right
    {
        float: right; 
        width: 33%;
    }
    .container h3
    {
        font-size: 26px;
        
        
    }
    .dest-text
    {
        display: inline;
    }
    .dest-text p, ul
    {
        display: block;
        font-family: Georgia, serif;
        font-size: 18px;
        line-height: 28px;
        width: 90%;
    }
    .destination 
    {
        width: 90%;
        height: auto;
    }
    
    .footer
    {
        height: 200px;
        background-color:rgb(46, 45, 46);
        margin-top: 66px;
        display: block;
    }
            